@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Owl.Controllers;
@using System.Security.Claims;

<nav class="navbar navbar-expand fixed-top">
    <div>
        <ul class="navbar-nav">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="navbar-item px-sm-4 px-2">
                    <a asp-controller="Posts" asp-action="Index">
                        <img class="gravatar" src="@PostsController.GetGravatar(User.Identity.Name, "40")" title="Home" />
                    </a>
                </li>
                <li class="navbar-item px-sm-4 px-2">
                    <a asp-controller="Posts" class="fas fa-pencil-alt button-header" title="New Post" asp-action="Create"></a>
                </li>
                <li class="navbar-item px-sm-4 px-2">
                    <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="fas fa-sign-out-alt button-header" id="button-logout" title="Log Out"></button>
                    </form>
                </li>
                <li class="navbar-item px-sm-4 px-2">
                    <a href="/Identity/Account/Manage" class="fas fa-cog button-header" title="Account Settings"></a>
                </li>
                <li class="navbar-item px-sm-4 px-2">
                    <a href="/Recent" class="button-header fas fa-clock" title="Recent Posts"></a>
                </li>

                @if ((string)ViewContext.RouteData.Values["Action"] == "Details" && (string)ViewContext.RouteData.Values["Controller"] == "Posts")
                {
                    @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.UserId)
                    {
                        <li class="navbar-item px-sm-4 px-2">
                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" id="edit" class="edit far fa-edit button-header" title="Edit Post"></a>
                        </li>
                        <li class="navbar-item px-sm-4 px-2">
                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" id="delete" class="delete far fa-trash-alt button-header" title="Delete Post"></a>
                        </li>
                    }
                }
            }
            else
            {
                <li class="navbar-item px-sm-4  px-2">
                    <a href="/" class="button-header fas fa-home" title="Home"></a>
                </li>
                <li class="navbar-item px-sm-4 px-2">
                    <a href="/Identity/Account/Login" class="button-header fas fa-sign-in-alt" title="Login"></a>
                </li>
                <li class="navbar-item px-sm-4 px-2">
                    <a href="/Identity/Account/Register" class="button-header fas fa-at" title="Register"></a>
                </li>
                <li class="navbar-item px-sm-4 px-2">
                    <a href="/Recent" class="button-header fas fa-clock" title="Recent Posts"></a>
                </li>
            }

        </ul>
    </div>
</nav>


