@{
    ViewData["Title"] = "Owl";
}

<div class="text-center">
    <h1 id="title">Owl</h1>
    <partial name="~/Views/Shared/_LoginPartial.cshtml" />
    <a href="/Identity/Account/Login" class="button">Login</a>
    <a href="/Identity/Account/Register" class="button">Register</a>
</div>
